.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
node_modules
mock
src
.babelrc
.ubarc
postcss.config.js
uba.config.js
webpack.config.js
lib/app.js
lib/demo.js