.copy-panel {
    border-radius: 0!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;

}
.copy-panel .u-panel-heading{
    cursor: pointer;
    border-bottom: 1px dashed #F7F9FB;
    background: #F7F9FB!important;
    height: 44px;
    box-sizing: border-box;
}
.copy-panel .u-panel-title{
    font-size: 14px!important;
}
.copy-panel .u-panel-body{
    background: #F7F9FB;
}
.copy-panel .copy-panel-title{
    float: left;
    color: #434A54;
}
.copy-panel .copy-panel-icon{
    float: right;
    color: #1E7BE2;
}